---
title: JSB Digital Solutions AB
---

<div>
  <img class="w-full" alt="JSB Digital Solutions AB Logo" src="/images/logo-jsb.svg" />

  <div class="flex justify-between font-sans text-4xl font-bold text-justify stretch sm:text-6xl" style="color: #333">
    <span>Digital</span>
    <span>Solutions</span>
    <span>AB</span>
  </div>

  <article class="">
    <p>
      <%= t("index.jsb") %>
    </p>

    <p>
      <img class="float-right w-20" alt="Kvadrat AB Logo" src="/images/logo-kvadrat.png" />
      <%= t("index.kvadrat") %>
    </p>
  </article>
</div>
