---
title: JSB Digital Solutions AB
---

<div>
  <img class="w-full py-4" alt="JSB Digital Solutions AB Logo" src="/images/logo-jsb.svg" />

  <article class="py-4 space-y-4">
    <p>
      <span class="font-bold">JSB Digital Solutions AB</span> <%= t("index.jsb") %>
    </p>

    <p>
      <img class="float-right w-20 m-4" alt="Kvadrat AB Logo" src="/images/logo-kvadrat.png" />
      <%= t("index.kvadrat") %>
    </p>
  </article>
</div>
