<nav class="flex justify-between my-6 print:hidden">
  <div class="flex items-center">
    <a href="<%= switch_language(:sv) %>"><img class="w-10" alt="Flag of Sweden" src="/images/flag-sv.svg" /></a>
    <a href="<%= switch_language(:en) %>"><img class="w-10 ml-1" alt="Flag of Great Britain" src="/images/flag-en.svg" /></a>
  </div>

  <div>
    <%= link_to t("nav.index"), "index.html" %>
    <%= link_to t("nav.cv"), "cv.html" %>
  </div>

  <button class="p-2 font-bold text-gray-100 bg-green-500 rounded shadow-xs">
    Download as PDF
  </button>
</nav>
