<nav class="flex justify-between print:hidden">
  <div class="font-sans text-lg space-x-4">
    <%= link_to t("nav.index"), "index.html",
      :class => "text-gray-800 " + (current_page.path.include?("index.html") ? "font-bold cursor-default" : "underline") %>
    <%= link_to t("nav.cv"), "cv.html",
      :class => "text-gray-800 " + (current_page.path.include?("cv.html") ? "font-bold cursor-default" : "underline") %>
  </div>

  <div>
    <% if I18n.locale == :en %>
      <% link_to switch_language(:sv) do %>
        <img class="w-10" alt="Flag of Sweden" src="/images/flag-sv.svg" />
      <% end %>
    <% else %>
      <% link_to switch_language(:en) do %>
        <img class="w-10" alt="Flag of Great Britain" src="/images/flag-en.svg" />
      <% end %>
    <% end %>
  </div>
</nav>
