name: Build and Deploy

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12"

      - run: npm install

      - name: Deploy Middleman to Github Pages
        uses: yurikoval/middleman-gh-pages-action@master
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
